.Grafico1 img{
	width: 50%;
}

.Grafico3 img{
  width: 70%;
}

.Grafico4 img{
  width: 110%;
}

.Grafico5 img{
  width: 70%;
}



.graficosbarra{
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-content: center;
}
.Grafico5{
  margin-left: 2em;
}

.graficostorta{
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-content: center;
}

.Containerflujo{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  
}

.Filtro{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-content: center;
  width: 25%;
  height: 80vh;
}

li{
  list-style: none;
}
.Filtro1 a, .Filtro2 a, .Filtro3 a, .Filtro4 a, .Filtro5 a{
  text-decoration: none;
  color: #FFFFFF;
}

.Filtro ul{
  margin:0;
  padding:0;
}

.Filtro h2{
  color: #FFFFFF;
  margin: 0;
  padding: 1.5em 1.5em 1em 1.5em;
  font-size: 1.8em;
}

.Filtro h2:hover{
  color: #2760AA;
  cursor: pointer;
}

a:hover{
  text-decoration: none;
}
.Filtro1{
  background-color: #A2DCFF;
  height: 17.5vh;
}

.Filtro2{
  background-color: #62BCFF;
  height: 17.5vh;

}

.Filtro3{
  background-color: #41A1FF;
  height: 17.5vh;

}

.Filtro4{
  background-color: #3379DA;
  height: 17.5vh;

}

.Filtro5{
  background-color: #2760AA;
  height: 17.5vh;

}
