*{
	margin:0;
	padding: 0;

}
.menu li{
	list-style: none;
	display: inline-block;
	margin: 1.5em;
}

.menu a{
	font-size: 20px;
	text-decoration: none;
	color: white;

}

.menu{
	text-align: right;
	background-color: #69AAEE;
	margin:0;
}