.menu li{
	list-style: none;
	display: inline-block;
	margin: 2em;
}

.menu li:first-child{
  float: left;
  color: #FFFFFF;
  margin: 0;
  padding-top: 1.2em;
}

.menu a{
	text-decoration: none;
  color: #FFF;
}

.menu a:hover{
  color: #2760AA;
}

.menu{
	text-align: right;
  background-color: #41A1FF;
  margin-bottom: 0;
}