body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.Containerproductdetail{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-content: center;
  text-align: center;
}

.Products{
  width: 15em;
  height: 24em;
  margin: 1em;
  background-color: white;

}

.Containerproducts{
  display: flex;
  flex-direction: row;
}
.Containerallproduct{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center; 
  border: 1px #386791 solid;
  background-color: #f2f2f2;
 

/*   background-color: lightblue;
 */}



.Detail{
  width: 25%;


}

.Decription{
  height: 5em;
}

.buttonItems{
  border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
border: 0px solid #000000;
background-color: #49515f;
color: white;
padding-left: 1em;
padding-right: 1em;
padding-top: 0.5em;
padding-bottom: 0.5em;
}

.buttonItems:hover{
}

.DetailCart{
  height: 30em;
  padding: 1em;
  overflow: auto;
  background-color: #F2F2F2;
  border-top: 1px #386791 solid;


/*   background-color: pink;
 */
}

.Total{
  height: 10em;


/*   background-color: blue;
 */
  
}

.Cobrar{
/*   background-color: yellow;
 */  height: 10em;
 padding-top: 1em;
/*   background-color: aquamarine;
 */  padding-bottom: 1em;


}

.buttonTotal{
  border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
border: 0px solid #000000;
/* background-color: thistle;
 */padding-left: 3em;
padding-right: 3em;
padding-top: 1em;
padding-bottom: 1em;
background-color: #009bc4;
color: white;
width: 80%;
font-weight: bold;

}

.buttonTotal:hover, .buttonCobrar:hover{
 
  background-color: #009bc4;

}

.buttonCobrar{
  margin-top: 3em;
}

.divContainer{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 0.5em;
  align-items: center;
  border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
  margin-bottom: 0.5em;
  border: 1px #4b5060 solid;
  border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;


}

.buttonRemove{
  width: 5em;
  height: 2em;
  margin-left: 1em;
  border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 2px 2px 2px 2px;
border: 0px solid #000000;
}

.imagen{
  width: 3em;
  height: 3em;
}

.divFlex p, .divPrice {
  font-size: 0.8em !important;
}

.divFlex{
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 10em;
}

.totalCart{
  padding-top: 1em;
  /* background-color: aquamarine; */
  padding-bottom: 1em;
}

.Header{
  background-color: #386791;
  height: 3.5em;
}

.Date{

  background-color: #D8D8D8;
  height: 3em;
  text-align: right;
  padding: 1em;
}

.Detalle{
  background-color: #f2f2f2;
  color: #386791;
  font-weight: bold;
  
}