body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Containerproductdetail{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-content: center;
  text-align: center;
}

.Products{
  width: 15em;
  height: 24em;
  margin: 1em;
  background-color: white;
}

.Containerproducts{
  display: flex;
  flex-direction: row;
}

.Containerallproduct{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  background-color: #FFFFFF;
}

.Detail{
  width: 25%;
  background-color: #F2F2F2;
}

.Decription{
  height: 5em;
}

.buttonItems{
  border-radius: 0.5em;
  border: 0px solid #000000;
  background-color: #848484;
  color: #FFFFFF;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.buttonItems:hover{
  background-color: #009bc4;
}

.DetailCart{
  height: 30em;
  padding: 1em;
  overflow: auto;
}

.Total{
  height: 10em;
}

.Cobrar{
  height: 10em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.buttonTotal, .buttonCobrar{
  border-radius: 0.5em;
  border: 0px solid #000000;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #009bc4;
  color: #FFFFFF;
}

.buttonTotal:hover, .buttonCobrar:hover{
  background-color: #969696;
}

.buttonCobrar{
  margin-top: 3em;
}

.divContainer{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 0.5em;
  align-items: center;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.buttonRemove{
  width: 5em;
  height: 2em;
  margin-left: 1em;
  border-radius: 0.5em;
border: 0px solid #000000;
}

.imagen{
  width: 3em;
  height: 3em;
}

.divFlex p, .divPrice {
  font-size: 0.8em !important;
}

.divFlex{
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 10em;
}

.totalCart{
  padding-top: 1em;
  padding-bottom: 1em;
}

.Date{
  background-color: #D8D8D8;
  height: 3.5em;

}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.containergral {
  text-align: center;

}
.title {
  background-color: #77baef;
  text-align: center;
  width: 100%;
  height: 9vh;
  color: #fff;
}
.title h1 {
  text-align: justify;
  margin-left: 5em;
  font-weight: bolder;
}
.contentPago {
  
}
.btnActual {
  border: none;
  background-color: #77baef;
  width: 5em;
  margin-top: 0.6em;
  border-radius: 6px;
  font-size: 22px;
  height: 2.5em;
}
.btnOtro {
  border: none;
  background-color: #77baef;
  width: auto;
  border-radius: 6px;
  font-size: 22px;
  margin-top: 0.6em;
  height: 2.5em;
}
a {
  color: black;
}
.realizado {
  background-color: orange;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  height: 2.5em;
}
.contentPago .show-grid {
  margin-top: 2em;
}

.Pago1 img{
  width: 12em;
}
.Pago2 img {
  width: 14em;
  text-align: right;
  padding: 1em;
}